html {
    /*background-image: url("images/modern-city-skyline-background_77417-791.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-color: skyblue;
    backdrop-filter: blur(7px);

}
#eventDisplay{
    margin-left: 5%;
  color:black;
    font-family: 'Quicksand', sans-serif;
    /*font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;*/
    font-weight: bolder;

}

img{
    margin-left: 43.5%;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    position: relative;
    right: 50px;
    border: 1px solid black;
}
#homeDiv{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Bungee Shade', cursive;*/
    color: orange;
    font-weight: bolder;
    font-size:large;
    /*animation-name: floating;*/
    /*animation-duration: 3s;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: ease-in-out;*/
}
/*@keyframes floating {*/
/*    from { transform: translate(0,  0px); }*/
/*    65%  { transform: translate(0, 15px); }*/
/*    to   { transform: translate(0, -0px); }*/
/*}*/

#navBar{
    display: inline-block;
    float: right;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Bungee', cursive;*/
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#navBar:hover .dropdown-content {
    display: block;

}
a:hover{
    color: orange;
}
#eventName{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Bungee', cursive;*/
}
h3{
    text-align: center;
}
iframe{
    margin-left: 15%;
    /*margin-bottom: 15%;*/
    /*box-shadow: 5px 10px #888888;*/
    border-radius: 10px;
}
footer {
    /*background-color: whitesmoke;*/
    height: 70px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Bungee', cursive;*/
    color: white;
    /*margin-top: 10%;*/
}
#eventHost{
    text-align: center;
}