html{
    background-image: url("images/person-holding-magnifying-glass-712786.jpg");
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}


#eventDisplay{
    margin-left: 5%;
}

img{
    margin-left: 43.5%;
}
#homeDiv{
    text-align: center;
}
#navBar{
    display: inline-block;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#navBar:hover .dropdown-content {
    display: block;
}