#mainDiv{
    display: grid;
    grid-template-columns:auto auto;
}
#filterEvents{
    margin-top: 5%;
    margin-bottom: 5%;
}
#homeForm{
    margin-right: 35%;
    margin-top: 5%;
}
ul{
    list-style-type: none;
}
#btn{
    margin-left: 30%;
}
#navBar{
    display: inline-block;
    float: right;
}
#greeting{
    float: right;
}
a{
    /*float: right;*/
}
#homeDiv{
text-align: center;
}
#userExpEvents{
    border: 1px solid black;
    /*margin-left: 10%;*/
    margin-right: 20%;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

#navBar:hover .dropdown-content {
    display: block;
}