html{
    background-image: url("images/modern-city-skyline-background_77417-791.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul{
    list-style-type: none;
    margin-left: 25%;
}
#signUpDiv{
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: darkblue;
}
#signUpPara{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
}
#signupForm{
    margin-left: 33%;
    margin-bottom: 5%;
    /*border: 1px solid black;*/
    margin-right: 30%;
    border-radius: 17px;
    background-color: lightslategray;
    box-shadow: 8px 10px #888888;
}
button{
    margin-left: 30%;
    margin-bottom: 5%;
    border-radius: 10px;
    width: 35%;
    background-color: white;
    font-family: 'Bungee', cursive;
    color: darkblue;
}
#join{
    margin-left: 35%;
    font-family: 'Bungee Shade', cursive;
    color: darkblue;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

p{
    margin-left: 22%;
    font-family: 'Bungee', cursive;
    color: white;
}
h4{
    position: relative;
    top: 7px;
    text-align: center;
    color: black;
}