<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="{%static 'CitiTechApp/css/eventDisplay.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gravitas+One&display=swap" rel="stylesheet">
</head>
<body>
<div id="homeDiv">
    <h3>CitiTech</h3>
    <p>"Shape your citi, Shape your experience"</p>

</div>
<div id="navBar">
    <h4><span>Welcome Back, {{request.user.username}}</span></h4>
    <div class="dropdown-content">
        <a href="{% url 'home' %}"><p>Home</p></a>
        <a href="{% url 'logout' %}"><p>Logout</p></a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="eventDisplay">
    {%if Event.event_image%} <img width="250" height="250" src="{{Event.event_image.url}}"> {%endif%} <br>
    <h1 id="eventName">{{Event.event_name}}</h1>
   <h3>Date: {{Event.date}}</h3>
    <h3>{%if Event.time%}{{Event.time}}</h3>{%endif%}
   <h3>Location: {{Event.location}}</h3>
    <h3>Description: {{Event.description}}</h3>
    <iframe
            width="450"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAi6PiJbZMJAW7Y8tC-qXXaCMPm2OrEv4s&q=" allowfullscreen>
    </iframe>
</div>
</body>
</html>