<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'CitiTechApp/css/home.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
<div id="homeDiv">
    <h3>CitiTech</h3>
    <p>"Shape your citi, Shape your experience"</p>

</div>
<div id="navBar">
    <h4><span>Welcome Back, {{request.user.username}}</span></h4>
        <div class="dropdown-content">
          <a href="{% url 'home' %}"><p>Home</p></a>
            <a href="{% url 'contact' %}"><p>Where's my Event?</p></a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
</div>
<br>
<br>
<br>
<hr>
<div id="mainDiv">
    <div height="200">
        <form method="get" action="{%url 'results' %}" name="q" id="homeForm">
            <h4>CitiFilter</h4>
            <p>Please select 1 or more from each category</p>
            {%csrf_token%}
            {{form.as_p}}
            <button id="btn">Submit</button>
        </form>
    </div>

<div id="filterEvents">
<!--    {{userAge}}-->
<!--    {{userSkill}}-->
<!--    {{userExp}}-->
<!--{% for each in userAge%}-->
<!--<div>-->
<!--   {%if each.event_image%} <img width="150" height="150" src="{{each.event_image.url}}"> {%endif%}-->
<!--   <h2>{{each.event_name}}</h2>-->
<!--    <p>{{each.date}}</p>-->
<!--    {%if each.time%}<p>{{each.time}}</p>{%endif%}-->
<!--    <p>{{each.location}}</p>-->
<!--</div>-->
<!--{%endfor%}-->
{%for each in userSkill%}
<div id="userSkill">
    {%if each.event_image%} <img width="150" height="150" src="{{each.event_image.url}}"> {%endif%}
    <a href="{% url 'eventDisplay' each.id%}"> <h2>{{each.event_name}}</h2></a>
    <p>{{each.date}}</p>
    {%if each.time%}<p>{{each.time}}</p>{%endif%}
    <p>{{each.location}}</p>
</div>
{%endfor%}
{%for each in userExp%}
<div id="userExpEvents">
    {%if each.event_image%} <img width="230" height="230" src="{{each.event_image.url}}"> {%endif%}
     <a href="{% url 'eventDisplay' each.id%}"> <h2>{{each.event_name}}</h2></a>
    <p>{{each.date}}</p>
    {%if each.time%}<p>{{each.time}}</p>{%endif%}
    <p>{{each.location}}</p>
</div>
    <br>
{%endfor%}
    <div class="cui-embed" data-cui-uid="vIgUeb" data-cui-mode="pill" data-cui-pill-button-color="#0000FF"></div>
    <script src="https://public-assets.typeform.com/confab/embed.js" async></script>
</div>

</div>
<footer>Created by <a href="http://www.jordondouglas.com/">Jordon Douglas</a></footer>
<script src="{% static 'CitiTechApp/js/home.js' %}"></script>
</body>
</html>