<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <title>CitiTech</title>
    <link rel="stylesheet" href="{%static 'CitiTechApp/css/index.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
<div id="heading">
    <h1>CitiTech</h1>
    <p id="headline">"Shape your citi, Shape your experience"</p>
</div>

<br>
<p id="message">{%for message in messages%}
{{message}}
    {%endfor%}</p>
<div id="indexpage">
    <form id="LoginForm" method="post">
        {%csrf_token%}
        {{loginForm.as_p}}
        <button id="submitbtn">Submit</button>
    </form>
</div>

<h2>Not a member? Sign up <a href="{%url 'signup'%}">here</a></h2>
<h2>Want your event to be featured on CitiTech? Click <a href="{%url 'contact' %}">here</a></h2>
<footer>Created By <a href="http://www.jordondouglas.com/">Jordon Douglas</a></footer>
</body>
</html>