<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1> Welcome to CitiTech</h1>
</div>
<div id="filterEvents">
    <form method="post">

        {%csrf_token%}
        {{form.as_p}}
        <button id="btn">Submit</button>
    </form>
    {{results}}
    {{results2}}

    {% for each in choice1%}
    <div>
        {%if each.event_image%} <img width="150" height="150" src="{{each.event_image.url}}"> {%endif%}
        <h2>{{each.event_name}}</h2>
        <p>{{each.date}}</p>
        {%if each.time%}<p>{{each.time}}</p>{%endif%}
        <p>{{each.location}}</p>
    </div>
    {%endfor%}
    {%for each in choice2%}
    <div>
        {%if each.event_image%} <img width="150" height="150" src="{{each.event_image.url}}"> {%endif%}
        <h2>{{each.event_name}}</h2>
        <p>{{each.date}}</p>
        {%if each.time%}<p>{{each.time}}</p>{%endif%}
        <p>{{each.location}}</p>
    </div>
    {%endfor%}
    {%for each in choice3%}
    <div>
        {%if each.event_image%} <img width="150" height="150" src="{{each.event_image.url}}"> {%endif%}
        <h2>{{each.event_name}}</h2>
        <p>{{each.date}}</p>
        {%if each.time%}<p>{{each.time}}</p>{%endif%}
        <p>{{each.location}}</p>
    </div>
    {%endfor%}
</div>
</body>
</html>